

.container{
    height: 100vh
}

.card{
    border: 5px #f7c1c1 solid;
    border-radius: 20px;
    margin-top: 50px;
    padding: 30px;  
    box-shadow: 2px 4px 10px #6b5151, -2px 4px 10px #6b5151;
    transition: all .3s;    

}
.card:hover{
    box-shadow: 5px 8px 15px #6b5151, -5px 8px 15px #6b5151;
}

.login_form{
    padding: 20px;
}

.card-title{
    text-align: center;
    font-weight: bolder;
    margin-top: 5px;
}

.form_label{
    font-size: large;
    font-weight: 400;
}
.login_success{
    margin: 20px;
    color: green;
}
.btn-info{
    float: right;
}
.text-danger{
    font-weight: 600;
}