

.card{
    width: 50%;
    margin: 0 auto;
    border: 5px black solid;
    border-radius: 20px;
    margin-top: 50px;
    padding: 30px;
}

.login_form{
    padding: 20px;
}

.card-title{
    text-align: center;
    font-weight: bolder;
    margin-top: 5px;
}