

.container{
    height: 100vh
}

.card{

    border: 5px #f7c1c1 solid;
    border-radius: 20px;
    margin-top: 50px;
    padding: 30px;
}

.login_form{
    padding: 20px;
}

.card-title{
    text-align: center;
    font-weight: bolder;
    margin-top: 5px;
}

.form_label{
    font-size: large;
    font-weight: 400;
}
.login_success{
    margin: 20px;
}
.btn-primary{
    float: right;
}
