
<div class="container">
    <div class="card">
        <div class="form_container">
            <h3 class="card-title"> Login </h3>
            <form [formGroup]="loginForm" class="login_form" (ngSubmit)="onLogin()" >
                <div class="form-group">
                    <label for="email">User Name</label>
                    <input type="text" id="uname" class="form-control" placeholder="abc@mtn.com" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" id="pass" class="form-control" placeholder="Password containing characters between 6 and 20" formControlName="password">
                </div>
                <div>
                    <button class="btn btn-primary" type="submit" > Login</button>
                </div>
            </form>
        </div>
    </div>
</div>