
*{
    box-sizing: border-box;
}

.row{
    margin: 0;
}

.title{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 50px;
}

.user{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

.card{
    height: 100vh;
}

.guest{
    margin-top: 50px;
}
.active{
    font-weight: bolder;
}